body {
    background-color:rgb(212, 244, 255);
    font-size: 24px
}
.xt {
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
}
.xtt {
    font-size: 1.5em;
    font-weight: 700;
    color: deeppink;
    text-align: center;
}
.txt {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(78, 109, 29);
    text-align: center; 
}
p {
    font-family: Georgia, Times, serif;
}
.credits {
    font-family: 'Courier New', Courier, monospace;
}
.calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.h1 {
    font-size: 32px;
}
.a {
    font-weight: bold;
    font-size: 2em
}
.b {
    font-size: 1.2em;
}
.img {
    width: 12.5em;
}
.c {
    font-size: 2em;
    font-family: "roboto", Times, Serif ;
    font-weight: 300;
}
.f {
    font-weight: normal;
}
.g {
    font-weight: bold;
}
.h {
    font-style: italic;
}
.aa {
    font-size: 2em;
    font-weight: bold;
    color: blue;
}
.i {
    text-transform: uppercase;
}
.j {
    text-transform: lowercase;
}
.k {
    text-transform: capitalize;
}
.l {
    text-decoration: underline;
}
.m {
    text-decoration: overline;
}
.n {
    text-decoration: line-through;
}
.o {
    line-height: 2em;
}
.p {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.q {
    font-size: 1.4em;
    word-spacing: 2em;
}
.e {
    text-align: center;
}
.r {
    text-align: right;
}
.s {
    text-align: left;
}
.pic {
    width: 9.5em;
    vertical-align: top;
    border: 5px solid grey;
}

.pic2 {
    width: 9.5em;
    vertical-align: middle;
    border: 5px solid grey;
}
.pic3 {
    width: 9.5em;
    vertical-align: bottom;
    border: 5px solid grey;
}
.t {
    text-indent: 1.25em;
}
.u {
    background-color: #eeeeee;
    color: #666666;
    text-shadow: 1px 1px 0px #000000;
}
.v {
    background-color: #dddddd;
color: #666666;
text-shadow: 1px 1px 3px #666666;
}
.w {
    background-color: #cccccc;
    color: #ffffff;
    text-shadow: 2px 2px 7px #111111;
}
.x {
    background-color: #bbbbbb;
    color: #cccccc;
    text-shadow: -1px -2px #666666;
}
.y {
    background-color: #aaaaaa;
    color: #ffffff;
    text-shadow: -1px -1px #666666;
}
.intro {
    font-size: 200%;
}
.first-line {
    font-weight: 700;
}
a link {
     color: deeppink;
     text-decoration: none;}
a:visited {
     color: rgb(255, 136, 0);}
a:hover {
     color: deeppink;
     text-decoration: underline;}
a:active {
    color: rgb(40, 218, 24);}
.buton:hover {
    color: rgb(16, 238, 45);
}
.buton:active {
    background-color: rgb(255, 251, 0);}


.buton {
    font-size: 1.2em;
    border-radius: 12px;
    cursor: default;
    font-weight: bold;
}
.buton:focus {
    color: deeppink;
}
.box {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(78, 109, 29);
    text-align: center;
}
.bix {
    width: 400px;
    height: 400px;
    background-color: deeppink;
}
.pp {
    width: 75%;
    height: 80%;
    background-color: rgb(159, 167, 173);
}
.minmax {
    font-size: 2em;
    font-weight: 700;
    color: blue;
    border: 1px solid green;
    max-width: 10.2em;
    min-width: 11em;
}
.prah {
    min-width: 13em;
    max-width: 40em;
    border: 2px solid rgb(255, 0, 0)   
}
.flow {
    max-height: 2em;
    overflow-y: scroll;
}


