body {
    font-size: 24px
}
p {
    font-family: Georgia, Times, serif;
}
.credits {
    font-family: 'Courier New', Courier, monospace;
}
.calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.h1 {
    font-size: 32px;
}
.a {
    font-weight: bold;
    font-size: 2em
}
.b {
    font-size: 1.2em;
}
.img {
    width: 12.5em;
}
.c {
    font-size: 2em;
    font-family: "roboto", Times, Serif ;
    font-weight: 300;
}
.f {
    font-weight: normal;
}
.g {
    font-weight: bold;
}
.h {
    font-style: italic;
}
.aa {
    font-size: 2em;
    font-weight: bold;
    color: blue;
}
.i {
    text-transform: uppercase;
}
.j {
    text-transform: lowercase;
}
.k {
    text-transform: capitalize;
}
.l {
    text-decoration: underline;
}
.m {
    text-decoration: overline;
}
.n {
    text-decoration: line-through;
}
.o {
    line-height: 2em;
}
.p {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.q {
    font-size: 1.4em;
    word-spacing: 2em;
}
.e {
    text-align: center;
}
.r {
    text-align: right;
}
.s {
    text-align: left;
}
.pic {
    width: 9.5em;
    vertical-align: top;
    border: 5px solid grey;
}

.pic2 {
    width: 9.5em;
    vertical-align: middle;
    border: 5px solid grey;
}
.pic3 {
    width: 9.5em;
    vertical-align: bottom;
    border: 5px solid grey;
}
.t {
    text-indent: 1.25em;
}
