body {
    font-size: 24px
}
p {
    font-family: Georgia, Times, serif;
}
.credits {
    font-family: 'Courier New', Courier, monospace;
}
.calibri {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.h1 {
    font-size: 32px;
}
.a {
    font-weight: bold;
    font-size: 2em
}
.b {
    font-size: 1.2em;
}
.img {
    width: 12.5em;
}
.c {
    font-size: 2em;
    font-family: "roboto", Times, Serif ;
    font-weight: 300;
}
.e {
    font-size: 2em;
    font-weight: bold;
    color: blue;
    text-align: center;
}
.f {
    font-weight: normal;
}
.g {
    font-weight: bold;
}
.h {
    font-style: italic;
}
.aa {
    font-size: 2em;
    font-weight: bold;
    color: blue;
}
.i {
    text-transform: uppercase;
}
.j {
    text-transform: lowercase;
}
.k {
    text-transform: capitalize;
}
.l {
    text-decoration: underline;
}
.m {
    text-decoration: overline;
}
.n {
    text-decoration: line-through;
}